

body{
    background: #fffcec;
    line-height: 1.3;
    font-family: "roc-grotesk", sans-serif;
font-weight: 400;
font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
}

a{    
    color: currentColor;
    text-decoration: none;
    transition: color 0.3s ease; 
}


*{
    cursor: url(cursor.png), auto;
}

p{
    max-width: 600px;
    font-family: "roc-grotesk", sans-serif;
font-weight: 400;
font-style: normal;
}

h1{
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #dd1d1d;

}

h2{
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    line-height: 120px;
    font-size: 150px;
    color:#dd1d1d;
    margin-bottom: 10px;
}

h3{
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    line-height: 90px;
    font-size: 90px;
    color:#dd1d1d;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

 /* header */

 header{
    display: grid;
    grid-template-columns: auto 200px auto;
    justify-content: space-between;
    align-items: center;
    background:#fffcec;
    position: sticky;
    z-index: 999;
    top: 0%;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 5px;
    filter:grayscale(0)
 }

.filet{
  border: 0.5px solid rgb(245, 243, 238);
}

 .propos{
    text-decoration: none;
    color:#dd1d1d;
    padding: 6px;
    transition: all 0.3s ease; 
    border: 1px solid #dd1d1d;
    }
.propos:hover {
    color: rgb(0, 0, 0);
    border: 1px solid #000000; 
    transform: rotate(20deg);
}

 /* NAV */

 .nav{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 0px;
    row-gap: 10px;

 }
 .nav a{
    background: #fffcec;
    text-decoration: none;
    color:rgb(0, 0, 0);
 }
.nav a span{
    padding: 12px;
    display: block;
}

/*section*/

.section-titre{
    padding-top: 20vh;
    padding-left: 20px;
    position: relative;
    box-sizing: border-box;
    min-height: fit-content;

}

.section-propos{
    padding-top: 10vh;
    padding-left: 20px;
    position: relative;
    box-sizing: border-box;
    min-height: fit-content;
}

/*projets*/

/* Bloc du projet */
.work-item {
    position: relative;
    width: 100%;
    height: 100vh; 
    margin-top: 0;
    padding-top: 0; 
    position: relative;
    overflow: hidden;
}

/* Lien cliquable */
.work-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Image du projet */
.work-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
    transition: transform 0.5s ease;
}
.work-item:hover img {
    transform: scale(1.1);
 }
.title {
    position: relative; 
    width: 100%;
    height: 40px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: #fffcec; 
    align-items: center;
    border: 1px solid #dd1d1d;
}

.title h2 {
    font-size: 20px; 
    grid-column: -1;
    align-items: center;
    color: #dd1d1d;
    margin: 0;
    padding-right: 20px;
    line-height: 20px;

}

.work-info {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    color: #dd1d1d;
    background:#fffcec; 
    padding: 20px 40px; 
    border: 1px solid #dd1d1d;
    box-sizing: border-box; /* Assure que le padding n'affecte pas la largeur totale */
}

.work-info span {
    font-size: 20px;
}

.work-info .left {
    text-align: left;
}

.work-info .center {
    text-align: center;
}

.work-info .right {
    text-align: right;
}


/*pages projet*/

.title-bloc{
  margin: 10px;
  font-size: 80px;
  line-height: 80px;
  padding-top: 50px;
}
 .bloc {
    width: 40%;  
    display: flex; 
    align-items: top; 
    padding-left: 20px; 
    font-size:16px;
    column-gap: 20px;
    box-sizing: border-box; 
}

/* Grille des photos */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    margin: 20px; 
}

/* Styles pour les images */
.grid img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}


/* Footer*/

.about-links {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px; 
    padding: 10px;
}

.about-links a {
    color: #dd1d1d;
    text-decoration: none;
    font-size: 14px; 
    transition: color 0.3s ease; 
}

.about-links a:hover {
    color: rgb(0, 0, 0); 
}

/*about*/
.about{
    padding-left: 20px;
}
  .grid-txt {
    border-top: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 40% 60%;
    box-sizing: border-box;
    align-items: stretch;
    text-decoration: none;
    color:#dd1d1d;
    line-height: 1.3;
    padding-top: 15px;
    font-size: 20px; 
}
.canva{
    justify-self: end;
    padding-right: 100px;
    padding-bottom: 100px;

}

.grid-txt:hover span{
    transform-origin: 0 center;
    color: black;
}

/*bande qui défile*/

.scrolling-text-container {
    position: relative;
    width: 100%;
    height: 50px; /* Hauteur de la bande de texte */
    overflow: hidden; /* Masque tout ce qui dépasse */
    background: #dd1d1d; 
    color: #fffcec;
    display: flex;
    align-items: center;
   
}

/* Texte défilant */
.scrolling-text {
    white-space: nowrap; /* Empêche le retour à la ligne */
    display: inline-block;
    animation: scroll-text 100s linear infinite; /* Animation infinie */
    font-size: 25px; /* Taille du texte */
}

/* Animation CSS */
@keyframes scroll-text {
    0% {
        transform: translateX(0); /* Commence à gauche */
    }
    100% {
        transform: translateX(-100%); /* Défile vers la gauche, remplaçant la première copie par la deuxième */
    }
}

/* Responsive : Ajuste la taille du texte pour les petits écrans */
@media (max-width: 768px) {
    .scrolling-text {
        font-size: 1rem; /* Taille plus petite pour les tablettes */
    }
    .text-block {
        width: 100% !important;
    }
    .grid {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    h2{
        font-size: 100px;
        line-height: 90px;

    }
    .work-info span{
        font-size: 15px;
    }
    .bloc{
        width: 90%;
    }
    
}

@media (max-width: 480px) {
    .scrolling-text {
        font-size: 0.8rem; /* Taille encore plus petite pour les téléphones */
    }
    .text-block {
            width: 100% !important;
    }
    .about-content{
        flex-direction: column !important;
    }
    h2{
        font-size: 100px;
        line-height: 90px;
    }
    .work-info span{
        font-size: 15px;
    }
        .bloc{
        width: 90%;
    }
    
}