@font-face {
    font-family: "mulish";
    src: url("Mulish-Regular.woff2") format("woff2")
}
*{
    box-sizing: border-box;
}

body{
    background: rgb(219, 55, 55);
    font-family: sans-serif;
    line-height: 1.3;
    font-family: "mulish", sans-serif;
  font-optical-sizing: auto;
}

p{
    max-width: 600px;
}

h1{
    margin: 0;
    font-family: sans-serif;
    color: #fffcec;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
 /* header */

 .header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
 }

 .header a{
    text-decoration: none;
    color:currentColor;
 }

 .nav{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    gap: 0px;
    row-gap: 10px;

 }
 .nav a{
    background: #fffcec;
    text-decoration: none;
    color:rgb(0, 0, 0);
 }
.nav a span{
    padding: 12px;
    display: block;
}

 /*pages projet*/


.img{
    padding: 12px;
}